 *{
  background-color: rgb(241, 86, 94);
  background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
  color: rgba(0,0,0,.7);
}

#h1font{
  align-items: center;
  font-family: 'Limelight', cursive;
  font-size: 100px;
  /* background-color: #fcc252; */
  border-radius: 0% 0% 40% 40%;
}
  input[type=text] {
    padding:10px;
    margin: 10px 0;
    border-radius:10px;
    
  }
  input[type=Submit] {
    padding:10px;
    margin: 10px 0;
    border-radius:10px;
  }
  input[type=reset] {
    padding:10px;
    margin: 10px 0;
    border-radius:10px;
  }
  ::placeholder {
    color: black;
  }
 
  


  /* background-image: url("https://www.transparenttextures.com/patterns/crisp-paper-ruffles.png")   */


/* img{
  max-height: 600px;
  max-width: 480px;
  border: solid #fffEAD;
  border-width: thick;

}  */
 
