

#search {
  width: 230px;
  height: 30px;
  border: 1px solid black;
  outline: none;
  border-radius: 20px;
  padding-left: 15px;
}
button {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  outline: none;
  border-radius: 20px;
}
  

/* Styling movies */
/* main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main div {
  width: 250;
  height: 320;
  margin:19px 15px;
  background: red;
}

img {
  width: 100%;
  height: 89%;
  object-fit: cover;
}

h2 {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  color: #fff;
