body{
  min-height: 100vh;
  margin: 0;
  background-color: #c71c25;
  background-image: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");
}

#h1font{
  align-items: center;
  font-family: 'Limelight', cursive, sans-serif;
  font-size: 100px;
  color: #000000;
  background-color: #fcc252;
  border-radius: 0% 0% 40% 40%;
  background-image: url("https://www.transparenttextures.com/patterns/crisp-paper-ruffles.png")  
}
  input[type=text] {
    padding:10px;
    margin: 10px 0;
    border-radius:10px;
    width: 20vh;
  
    
  }
  input[type=Submit] {
    padding:10px;
    margin: 10px 0;
    border-radius:10px;
  }
  input[type=reset] {
    padding:10px;
    margin: 10px 0;
    border-radius:10px;
  }
  ::placeholder {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
  
  }
img{
  border: 5px solid black;
  border-radius: 10%;
}
h5{
  color: #000000;
  margin-top: 4.5vh;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
b{
  color: #000000;
  margin-top: 4vh;
  font-size: 25px;
  font-family: 'Limelight', cursive, sans-serif;
}
 #searchMovie{
  font-family: 'Limelight', cursive, sans-serif;
  font-size: 25px;
  color: #000000;

 }

  .btncolor {
    background-color: #f8ca6ef3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
 
  
 
